.container,
.loginAndPassword {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.container {
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.loading {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	font-size: 20px;

	* {
		background: white;
		border-radius: 2px;
		width: 100px;
		text-align: center;
	}
}

.loginAndPassword {
	* {
		border: 1px solid black;
		border-radius: 2px;
		height: 20px;
		width: 140px;
		padding-left: 5px;
	}
}

.button {
	border: 1px solid black;
	border-radius: 2px;
	width: 70px;
	height: 20px;
}
