:root {
	--color-light: #ffffff;
	--color-light-gray: #dee1e6;
	--color-dark-gray: #8d8e92;
	--color-blue: #5191fd;
	--color-danger: #fa6855;

	background-color: #f1f4f9;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
